* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fffaf2;
}

.navbar {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
  padding: 1em 0;
  position: fixed;
}

.navbar-content {
  display: flex;
  margin: auto;
  width: 60%;
}

.content {
  width: 60%;
  margin: auto;
  padding-top: 5em;
  display: flex;
}

.content-left {
  /* grid-area: 1 / 1 / 2 / 4; */
}
.content-right {
  /* grid-area: 1 / 4 / 2 / 6; */
}

.post {
  background-color: white;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
}

.post-header {
  border-bottom: 1px solid rgb(227, 227, 227);
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
}

.post-header div {
  margin-right: 2em;
}

.post-header .active {
  border-bottom: 2px solid #758045;
}

.post-content-write {
  padding: 1em;
  display: flex;
}

.post-content-write img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post-content-write input {
  width: 100%;
  margin-left: 10px;
  border: none;
  background-color: #f0eeea;
  border-radius: 10px;
}

.post-content-options-wrap {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.post-content-options {
  display: flex;
}

.post-content-option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding: 0.5em 1em;
}

.post-content-option:nth-child(1),
.post-content-option:nth-child(2),
.post-content-option:nth-child(3) {
  margin-right: 1em;
}

.post-content-option img {
  margin-right: 0.3em;
}

.account-post {
  margin: 1em 0;
  background-color: white;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding: 1em;
}

.account-post-header {
  display: flex;
  align-items: center;
}

.account-post-header img {
  border-radius: 50%;
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
}

.account-post-header {
  font-size: 2.5ch;
  font-weight: bold;
}

.account-post-image img {
  width: 100%;
  margin: 1em 0em;
  border-radius: 10px;
}

.account-post-content-title {
  margin-bottom: 2em;
}

.account-post-content p:nth-child(2) {
  margin: 2em 0em;
}